<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chanlin.jetsencloud">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".JetsenMainActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"/>
        <activity
            android:name=".JetsenResourceActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"/>
        <activity
            android:name=".JetsenSendExerciseActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleInstance"
            />
        <activity
            android:name=".JetsenPrepareResourceActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleInstance"
            />

        <provider
            android:name=".database.DatabaseProvider"
            android:authorities="ChanLin"
            android:exported="true" />
    </application>

</manifest>
