<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chanlin.jetsencloud">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".JetsenMainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".JetsenResourceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".JetsenSendExerciseActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />
        <activity
            android:name=".JetsenPrepareResourceActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />

        <provider
            android:name="com.chanlin.jetsencloud.HFileProvider"
            android:authorities="${applicationId}.read_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/the_file_path" />
        </provider>
        <provider
            android:name=".database.DatabaseProvider"
            android:authorities="ChanLin"
            android:exported="true" />

        <activity
            android:screenOrientation="landscape"
            android:launchMode="singleInstance"
            android:name=".QuestionViewActivity"></activity>
    </application>

</manifest>